@use "../abstract/index" as *;
.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 96px;
  height: 96px;
  text-decoration: none;
  background-color: $tertiarySurface;
  color: $tertiaryText;
  border-radius: 2rem;
  font-size: 2rem;
  bottom: 2rem;
  right: 2rem;
  outline: gray 0px solid;
  transition: all 500ms ease;

  &:hover {
    scale: 1.05;
  }

  &:focus {
    scale: 1.05;
    outline: gray 4px solid;
  }
}
