@use "../abstract" as *;

.task-card {
  padding: 1.5rem 1.4rem;
  background-color: $edgeBlue;
  border-radius: 1.6rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  .title {
    font-size: 1rem;
    font-weight: 600;
  }

  .desc {
    font-size: 0.8rem;
    color: $secondaryText;
    line-height: 1.25rem;
  }

  .time {
    font-size: 0.8rem;
    font-weight: 600;
  }

  &:last-child {
    background-color: aquamarine;
  }
}
