@use "../abstract" as *;
.week-view {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding: 0rem 1rem;
  .dayBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.25rem;
    text-align: center;
    height: 4rem;
    width: 2.4rem;
    border-radius: 1rem;

    .day {
      font-weight: 600;
      color: $secondaryText;
    }
    .date {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
  .active {
    background-color: $secondarySurface;
  }

  .indicator {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 9999px;
    background-color: #171717;
  }
}
